/build/
/sdkconfig
/sdkconfig.old
/managed_components/
/device_backups/
/.codex-build/
/tests/build/
/sim/build/*
!/sim/build/pedal_sim.exe
!/sim/build/SDL2d.dll
/hardware/.history/
*.pyc
__pycache__/
